:root {
  /* font-size: 150%; */

  --pale-violet: hsl(276, 100%, 81%); /* sub-heading at the top of the app UI */
  --moderate-violet: hsl(276, 55%, 52%); /* chat on the left */
  --moderate-violet-transparent: hsla(276, 55%, 52%, .1);
  --desaturated-dark-violet: hsl(271, 15%, 43%); /* chat on the right */
  --grayish-blue: hsl(206, 6%, 79%); /* placeholder text */
  --very-dark-desaturated-violet: hsl(271, 36%, 24%); /* main heading */
  --dark-grayish-violet: hsl(270, 7%, 64%); /* paragraph */

/* Gradients */

/* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);

/* Secondary */

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 20%, 96%); /* app background */
  --very-dark-desaturated-violet: hsl(271, 36%, 24%); /* submit button background */
  --very-light-magenta: hsl(289, 100%, 72%); /* radio button outline */
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: Rubik;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -50%;
  width: 100%;
  height: 25em;
  border-radius: 0 0 100% 100%;
  background: linear-gradient(30deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%) 180%);
}

body::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -50%;
  width: 100%;
  height: 25em;
  border-radius: 100% 100% 0 0;
  background-color: var(--light-grayish-violet);
}

.phone {
  background-color: var(--light-grayish-violet);
  width: 15em;
  height: 31.35em;
  border-left: .5em solid var(--white);
  border-right: .5em solid var(--white);
  border-top: .7em solid var(--white);
  border-bottom: .7em solid var(--white);
  border-radius: 1.7em;
  margin: 4em auto 0;
  box-shadow: 3px 10px 35px rgba(0, 0, 0, 0.125);
}

.phone__header {
  background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  padding: 1.8em 1em .5em;
  border-radius: 1.2em 1.2em .5em .5em;
  display: flex;
  gap: .5em;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.125);
}

.phone::before {
  content: "";
  display: block;
  width: 8em;
  height: 1.7em;
  border-radius: 0 0 .8em .8em;
  background-color: var(--white);
  position: absolute;
  top: 4em;
  left: calc(50% - 4em);
  z-index: 1;
}

.chevron-left {
  width: .5em;
  fill: var(--white);
  margin-bottom: .3em;
}

.person-info {
  color: var(--white);
  display: flex;
  gap: .5em;
  flex-basis: 100%;
}

.person-info > figure {
  width: 1.6em;
  flex-shrink: 0;
}

.person-info img {
  width: 100%;
  border: .05em solid var(--white);
  border-radius: 100%;
}

.person-name {
  font-size: .7em;
}

.person-availability {
  font-size: .5em;
  letter-spacing: .08em;
  font-weight: 400;
  color: var(--pale-violet);
  margin-top: .3em;
}

.ellipsis-vertical {
  fill: var(--white);
  width: .2em;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 22.5em;
}

.msg {
  font-size: .5em;
  margin: .5em 1em;
  width: 60%;
  max-width: max-content;
  padding: .7em 1em;
  line-height: 1.5em;

  position: absolute;
  opacity: 0;
  transform: translateY(5em);
  transition: .5s ease-in;
}

.display {
  position: static;
  opacity: 1;
  transform: translateY(0);
}

.receiver-msg {
  color: var(--moderate-violet);
  background-color: var(--moderate-violet-transparent);
  border-radius: 1em 1em 1em .3em;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.125);
}

.sender-msg {
  background-color: var(--white);
  border-radius: 1em 1em .3em 1em;
  margin-left: auto;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.125);
}

.dog-images {
  width: 80%;
  text-align: right;
  padding: 0;
  margin-left: auto;
  margin-top: 2em;
}

.dog-image {
  width: 5em;
  border-radius: 1em;
  margin-left: .6em;
  vertical-align: bottom;
}

.walk-option {
  background: linear-gradient(to left, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  color: var(--white);
  width: 70%;
  max-width: 70%;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  display: flex;
  align-items: center;
}

.walk-option__circle {
  width: 1.5em;
  margin-right: 1em;
  fill: var(--very-light-magenta);
}

.walk-option__duration {
  letter-spacing: .05em;
  flex-basis: 65%;
}

.walk-option__price {
  font-size: 1.5em;
  font-weight: 700;
}

.new-msg-box {
  font-size: .5em;
  background-color: var(--white);
  width: 27em;
  padding: .7em .5em .7em 2em;
  margin: 1em auto 0;
  border-radius: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}

.new-msg-box__placeholder-text {
  color: var(--grayish-blue);
  font-size: 1.2em;
}

.new-msg-box__send-btn {
  fill: var(--very-dark-desaturated-violet);
  width: 3em;
}

main {
  text-align: center;
}

.title {
  color: var(--very-dark-desaturated-violet);
  font-weight: 500;
  font-size: 2.5rem;
  margin: 2em 0 .7em;
}

.description {
  color: var(--dark-grayish-violet);
  line-height: 2em;
  margin: 0 2em;
}